<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Welcome</title>
 </head>
 <body>
   <p> Welcome to create a Puppy, please click the link below to get started.</p>
   <a href="/new">Click Here To List A Puppy</a>

 </body>
</html>